<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_water_sort/bg_iphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1242,2040}</string>
                <key>spriteSourceSize</key>
                <string>{1242,2040}</string>
                <key>textureRect</key>
                <string>{{3,3},{1242,2040}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/button_add_tube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,142}</string>
                <key>textureRect</key>
                <string>{{432,1556},{280,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/button_add_tube_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,142}</string>
                <key>textureRect</key>
                <string>{{1322,1250},{280,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/button_blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76.5,278.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{156,560}</string>
                <key>textureRect</key>
                <string>{{1322,1397},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/button_restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,166}</string>
                <key>spriteSourceSize</key>
                <string>{156,166}</string>
                <key>textureRect</key>
                <string>{{717,1556},{156,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/button_undo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,142}</string>
                <key>textureRect</key>
                <string>{{869,1407},{280,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/button_undo_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,142}</string>
                <key>textureRect</key>
                <string>{{1607,1250},{280,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/button_undo_no_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,142}</string>
                <key>textureRect</key>
                <string>{{1359,1397},{280,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/button_undo_no_ad_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,142}</string>
                <key>spriteSourceSize</key>
                <string>{280,142}</string>
                <key>textureRect</key>
                <string>{{1644,1397},{280,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,55}</string>
                <key>spriteSourceSize</key>
                <string>{38,55}</string>
                <key>textureRect</key>
                <string>{{3,1705},{38,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/mask_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,192}</string>
                <key>spriteSourceSize</key>
                <string>{152,200}</string>
                <key>textureRect</key>
                <string>{{878,1554},{144,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/mask_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,308}</string>
                <key>spriteSourceSize</key>
                <string>{152,316}</string>
                <key>textureRect</key>
                <string>{{556,1407},{144,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/mask_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,424}</string>
                <key>spriteSourceSize</key>
                <string>{152,432}</string>
                <key>textureRect</key>
                <string>{{3,1556},{144,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/mask_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,548}</string>
                <key>spriteSourceSize</key>
                <string>{152,556}</string>
                <key>textureRect</key>
                <string>{{3,1407},{144,548}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/tube_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,200}</string>
                <key>spriteSourceSize</key>
                <string>{152,200}</string>
                <key>textureRect</key>
                <string>{{1154,1407},{152,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/tube_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,316}</string>
                <key>spriteSourceSize</key>
                <string>{152,316}</string>
                <key>textureRect</key>
                <string>{{1001,1250},{152,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/tube_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,432}</string>
                <key>spriteSourceSize</key>
                <string>{152,432}</string>
                <key>textureRect</key>
                <string>{{564,1250},{152,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/tube_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,556}</string>
                <key>spriteSourceSize</key>
                <string>{152,556}</string>
                <key>textureRect</key>
                <string>{{3,1250},{152,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_water_sort/water_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1892,1250},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1687,1665},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1840,1665},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1075,1685},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1075,1564},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1228,1564},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1381,1544},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1534,1544},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1687,1544},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1840,1544},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1381,1665},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1534,1665},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_water_sort/water_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1228,1685},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data-2.pvr.ccz</string>
            <key>size</key>
            <string>{2046,1804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01c278f0667a26cf0cf6835daf950a81:c9fa501894a6c9097d5332deed141208:3fe0af81d85464b057cb5a68d17b8ef4$</string>
            <key>textureFileName</key>
            <string>data-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
